.work-container
{
    /* #region HeroSection */

    .hero-image
    {
        height: 30vh;
        display: flex;
        justify-content: center; 
        align-items: center;
        text-align: center; 
        background-size: cover;

        .hero-title
        {
            font-size: 50px;
            padding: 30px;
            color: var(--white-color);
        }
        
        .hero-title::after 
        {
            content: '';
            position: absolute;
            left: 50%;
            margin-top: 90px;
            width: 300px;
            height: 2px;
            background-color: var(--primary-color);
            transform: translateX(-50%);
        }
    }

    /* #endregion */
   
    /* #region SecondSection */

    .second-section
    {
        background-color: var(--white-color);
        padding: 30px;
        height: 200px;        
    }

    /* #endregion */

}